@model Project.Web.ViewModels.QuizQuestionAnswerVM

@{
    int i = 0;
}

<h1>Play Quiz</h1>
<div>

    <h4>@Model.Quiz.QuizName</h4>
    <p>@Model.Quiz.Difficulty</p>

    <form asp-action="Details" asp-controller="Play" method="post">
        <input type="hidden" name="UserQuizId" value=@Model.UserQuizID />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">

            @for (i = 0; i < Model.Quiz.QuizQuestions.Count(); i++) {
                <h5>@Model.Questions[i].Questiontext</h5>
                @*@questionanswerVM = new Project.Web.ViewModels.QuestionAnswerVM(Model.Questions[i])
                <partial name="_PartialAnswers" model="questionanswerVM" />*@

                <input type="hidden" name="Test2VMS[@i].QuestionId" value="@Model.Questions[i].Id" />

                @foreach (var item in new Project.Web.ViewModels.QuestionAnswerVM(Model.Questions[i]).ListAnswers) {
                    <div class="form-check">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input class="form-check-input" type="checkbox" name=Test2VMS[@i].AnswerId
                               @if (@Model.Questions[i].QuestionAnswers != null) {
                                   foreach (var sAns in @Model.Questions[i].QuizAwnsers) {
                                       if (sAns.AnswerId.ToString() == item.Value) { <text> checked="checked" </text> }
                                   }
                               }
                               value="@item.Value" />
                        @item.Text.Trim() <br />
                        <span asp-validation-for="SelectedAnswersString" class="text-danger"></span>
                    </div>
                }
            }
            <input type="submit" class="btn btn-primary" value="Finish" />
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to Home</a>
    </div>
</div>
